.backgroundStyles {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundStyles h6 {
  background-color: rgb(52, 50, 50);
  margin: auto;
  width: 100%;
  padding: 1px;
}
.backgroundStyles p {
  width: 100%;
  padding: 2px;
  background-color: rgb(202, 159, 4);
  margin: auto;
}

.category-section-title {
  text-align: center;
}

.category-card {
  width: 400px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category-card h3 {
  color: rgb(233, 231, 231);
  background: rgb(251, 168, 1);
  padding: 10px;
  width: 150px;
}
.category-card-kids {
  background-image: url('./images/cute-little-girl-shopping.jpg');
}

.category-card-women {
  background-image: url('./images/young-womens-shopping-together.jpg');
}

.category-card-men {
  background-image: url('./images/portrait-man-going-out-shopping-various-consumer-goods.jpg');
}

.category-card-clearance {
  background: rgb(236, 5, 5);
}

@media screen and (min-width: 800px) {
  .backgroundStyles {
    height: 500px;
    background-size: contain;
  }
  .backgroundStyles h6 {
    font-size: larger;
    width: 50%;
    padding: 5px;
  }
  .backgroundStyles p {
    font-size: larger;
    width: 60%;
    padding: 12px;
  }
}
