.product-information {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  flex-direction: column;
  padding: 5px;
}

.product-descriptions {
  background: #3d4a9b;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: rgb(236, 232, 232);
  font-size: large;
}

.quantity-field {
  width: 80px;
  padding-bottom: 7px;
  border-radius: 3px;
  padding-left: 10px;
}
