* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.product-details {
  border: 3px solid gray;
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-top: 30px;
  background: #c6e1f1;
}

.product-details article {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.chechout-form {
  display: 'flex';
  flex-wrap: 'wrap';
}
