* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
.products-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.product-details article{
  width: 50%;
  margin: auto;

}
h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
.image-slide {
  width: 70%;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-product {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 10px;
  margin: 10px;
}
.cart-product img{
  width: 200px;
  height: 200px;
}
.cart-product button {
  position: absolute;
  right: 0;
  margin: 5px;
}
.cart-product input,
label {
  align-self: end;
  width: 70px;
}
